.panel {
    border-radius: 5px;
    background-color: #fff;
    overflow: scroll;
    position: relative;
}

.header {
    padding: 5px 0;
    position: sticky;
    top: 0;
    background-color: var(--lighter-gray);
}

.tabs {
    display: flex;
    padding: 0 5px;
}

.tab {
    cursor: pointer;
    color: gray;
    border-radius: 5px;
    padding: 5px 0;
    

    &:hover {
        background-color: var(--light-gray);
    }

    .tabText {
        line-height: normal;
        padding: 0 10px;
        border-left: 1px solid var(--light-gray);
        border-right: 1px solid var(--light-gray);
    }

    &:first-child .tabText {
        border-left: 0;
    }

    &:last-child .tabText {
        border-right: 0;
    }

    & + & {
        margin-left: -1px;
    }
}

.activeTab {
    color: black;
}