.container {
    height: 100%;
    width: 100%;

    display: grid;
}

.divider {
    width: 3px;
    background-color: var(--base02);

    &:hover {
        cursor: col-resize;
        background-color: var(--blue);
    }
}
