.container {
    height: 100%;
    width: 100%;
    display: grid;

    --divider-gap: 10px;
    --drag-indicator-width: 3px;
    --drag-indicator-length: 25px;
}


.dragging {
    user-select: none;
}


.divider {
    width: var(--divider-gap);
    background-color: var(--light-gray);
    position: relative;
    padding: 0;

    .dragIndicator {
        background-color: var(--gray);
        width: var(--drag-indicator-width);
        height: var(--drag-indicator-length);
        border-radius: 5px;
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    &:hover .dragIndicator{
        height: 100%;
        cursor: col-resize;
        background-color: var(--blue);
    }
}

.vertical {
    .divider {
        height: var(--divider-gap);
        width: 100%;

        .dragIndicator {
            height: var(--drag-indicator-width);
            width: var(--drag-indicator-length);
        }

        &:hover .dragIndicator {
            width: 100%;
            background-color: var(--blue);
            cursor: row-resize;
        }
    }
}

