.container {
    height: 100%;
    width: 100%;
    display: grid;
}

.vertical {
    

    .divider {
        width: 100%;
        height: 3px;

        &:hover {
            cursor: row-resize;
        }
    }
}

.divider {
    width: 3px;

    &:hover {
        cursor: col-resize;
        background-color: var(--blue);
    }
}

