#root {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
}

.app header {
  background-color: var(--light-gray);
  padding-left: 20px;
  height: 35px;
  display: flex;
  align-items: center;
}

.app header button {
  margin-left: 50px;
}

.highlighted-code {
  background-color: #f5f5d6;
}